@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ant-layout {
    height: 100vh !important;

    .ant-layout-sider {
        flex: 0 0 250px !important;
        max-width: 250px !important;
        min-width: 250px !important;
        width: 250px !important;
        height: 100vh !important;
    }

    .ant-layout-sider-collapsed {
        flex: 0 0 80px !important;
        max-width: 80px !important;
        min-width: 80px !important;
        width: 80px !important;
    }


    .ant-menu-title-content {
        font-size: 16px !important;
    }

    main {
        overflow: auto;
        // margin-right: 0 !important;
        // margin-bottom: 0 !important;
    }
}

.ant-modal-wrap{
    height: 100vh;
    .ant-modal{
        // width: 30% !important;
        .ant-modal-content{
            padding: 0;
            .ant-modal-close{
                top: -30px;
                right: -30px;
                color: #fff;
            }
        }
    }
}

.ql-container{
    min-height: 200px;
}
.ql-snow{}